<script>
function deleteFavorite(url){
      jQuery.ajax({
          url: "/users/deleteFavorite/",
          data: {'url':url},
          success: function(result) {
            alert('Favorite removed')
            location.reload(true)
           },
          error: function() {
          alert('Error occured');
           }

      });
}
</script>


<%= render '/layouts/ribbon' %>
<%= @user.name %>'s favorites <br>
<% @favorites.each do |favorite| %>
  <tr>
    <td><img src= <%= favorite.url%> height="450"> 
    	<% if session[:name] != nil %>
    		<%= render inline: '<button onclick="deleteFavorite(' + favorite.url + ')">remove</button>' %> 
    	<% end %>
    </td><br>
  </tr>
<% end %>