
<script>
function deleteFavorite(input){
      jQuery.ajax({
          url: "/users/deleteFavorite/",
          data: {'id':input.toString()},
          success: function(result) {
            location.reload();
            sessionStorage.setItem("message", "favorite removed");
           },
          error: function() {
          alert('Error occured');
           }

      });
}
</script>

<%= render '/layouts/ribbon' %>
<%= @user.name %>'s favorites <br>

<div class="favCol" align = "center"> <!couldn't get css to center things :( >
	<% @favorites.each do |favorite| %>
		<section class="favEntry">
	    <img src= <%= favorite.url%> > 
	    	<% if session[:name] == @user.name %>
	    		</br>
	    		<%= render inline:  '<button onclick="deleteFavorite(' + favorite.id.to_s + ')">remove</button>'.html_safe%>
	    	<% end %>
	    <br>
	  </section>
	<% end %>

</div>