<script>
function deleteFavorite(input){
      jQuery.ajax({
          url: "/users/deleteFavorite/",
          data: {'id':input.toString()},
          success: function(result) {
            alert('Favorite deleted')
            location.reload();
           },
          error: function() {
          alert('Error occured');
           }

      });
}
</script>

<meta name="viewport" content="width=device-width, initial-scale=1">

<%= render '/layouts/ribbon' %>
<%= @user.name %>'s favorites <br>

<div class="row">
	<% @favorites.each do |favorite| %>
		<div class="col-sm-6 col-md-3">
	    <img src= <%= favorite.url%> height="200"> 
	    	<% if session[:name] != nil %>
	    		<%= render inline:  '<button onclick="deleteFavorite(' + favorite.id.to_s + ')">remove</button>'.html_safe%> 
	    	<% end %>
	    <br>
	  </div>
	<% end %>
</div>