<script>
oldUrl = 'null'
function submitVote(input){
      var payload = {'url':oldUrl, 'score':input}
      jQuery.ajax({
          url: "/gif_entries/fetchRandomEntry/",
          data: payload,
          success: function(result) {
            var parsedResult = JSON.parse(result.toString());
            oldUrl = parsedResult.url;
            var score = parsedResult.score;
    			  document.getElementById("image").innerHTML = '<img src="' + oldUrl + '" height="450"">' + '<br>';
            document.getElementById("score").innerHTML = "score: " + score;
     			 },
      		error: function() {
          alert('Error occured');
     			 }

      });
}
function submitFavorite(){
      jQuery.ajax({
          url: "/sessions/addFavorite/",
          data: {'url':oldUrl},
          success: function(result) {
            alert('Favorited')
           },
          error: function() {
          alert('Error occured');
           }

      });
}

</script>
<html>

<br>
<div align="center" id="image"><b></b></div>
<div align="center">
  <button onclick="submitVote(1)">+</button>
  <button onclick="submitVote(-1)">-</button><b>
  <button onClick="submitFavorite()">Fav</button><b>
  <div align="center" id="score"><b></b></div>

</div>
</body>
</html>