<script>
past_url = 'null';
current_url = 'null';
favorited = null;

var LEFT_KEY = 37;
var UP_KEY = 38;
var RIGHT_KEY = 39;



function submitVote(input){
  var payload = {'past_url':past_url, 'current_url':current_url, 'vote':input}
  jQuery.ajax({
      url: "/gif_entries/fetchEntry/",
      data: payload,
      success: function(result) {
        var parsedResult = JSON.parse(result.toString());
        past_url = current_url;
        current_url = parsedResult.url;
        var score = parsedResult.score;
			  document.getElementById("image").innerHTML = '<img src="' + current_url + '" height="200""/>' + '<br>';
        document.getElementById("score").innerHTML = "score: " + score;
        if(parsedResult.favorited == true) {
          document.getElementById("favoriteButton").innerHTML = "Already Favorited";
          favorited = true;
        } else {
          document.getElementById("favoriteButton").innerHTML = "Favorite";
          favorited = false;
        }
        if(input != 0)//would clean any messages on first load of showImage(would clear login messages)
          displayMessage(null);//clears any existing messages
 			 },
  		error: function() {
        displayMessage("An error ocurred");
 			 }

  });
}
function submitFavorite(){
  if(!favorited) {
    jQuery.ajax({
      url: "/users/addFavorite/",
      data: {'url':current_url},
      success: function(result) {
        displayMessage("Favorited");
        document.getElementById("favoriteButton").innerHTML = "Already Favorited";
       },
      error: function() {
        displayMessage("An error ocurred");
       }

    });
  } else
    displayMessage("Gif has already been favorited")
}

$(document).keydown(function(e) {
  switch(e.keyCode) {
    case LEFT_KEY:
      submitVote(-1);
      break;
    case UP_KEY:
      submitFavorite();
      break;
    case RIGHT_KEY:
      submitVote(1);
      break;
    }
    return;
  }
);


$(document).ready(submitVote(0));
$(document).on('page:load', submitVote(0));

</script>
<html>

<%= render '/layouts/ribbon' %>
<div align="center" id="image"><b></div>
<div align="center">
  <button onclick="submitVote(1)">+</button>
  <button onclick="submitVote(-1)">-</button><b>
  <% if session[:user_id] != nil %>
    <%= render inline:  '<button id="favoriteButton" onClick="submitFavorite()">Fav</button><b>'.html_safe%> 
  <% end %>
  <div align="center" id="score"><b></div>
</div>
</body>
</html>