<script>
oldUrl = 'null';

function submitVote(input){
      var payload = {'url':oldUrl, 'score':input}
      jQuery.ajax({
          url: "/gif_entries/fetchEntry/",
          data: payload,
          success: function(result) {
            var parsedResult = JSON.parse(result.toString());
            oldUrl = parsedResult.url;
            var score = parsedResult.score;
    			  document.getElementById("image").innerHTML = '<img src="' + oldUrl + '" height="200""/>' + '<br>';
            document.getElementById("score").innerHTML = "score: " + score;
            displayMessage(null);//clears any existing messages
     			 },
      		error: function() {
            displayMessage("An error ocurred");
     			 }

      });
}
function submitFavorite(){
      jQuery.ajax({
          url: "/users/addFavorite/",
          data: {'url':oldUrl},
          success: function(result) {
            displayMessage("Favorited");
           },
          error: function() {
            displayMessage("An error ocurred");
           }

      });
}
$(document).ready(submitVote(0));
$(document).on('page:load', submitVote(0));

</script>
<html>

<%= render '/layouts/ribbon' %>
<div align="center" id="image"><b></div>
<div align="center">
  <button onclick="submitVote(1)">+</button>
  <button onclick="submitVote(-1)">-</button><b>
  <% if session[:user_id] != nil %>
    <%= render inline:  '<button onClick="submitFavorite()">Fav</button><b>'.html_safe%> 
  <% end %>
  <div align="center" id="score"><b></div>
</div>
</body>
</html>