// Place all the styles related to the gifEntries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

/* universal */
html {
  height: 100%;
}
body {
  height: 100%;
  padding-top: 50px;
  background-color: #000
}


/*ribbon*/

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #4C4C4C;
  text-decoration: none;
}

.ribbonName {
	display:inline;
	color:yellow;
}

.ribbonText {
	padding-top: 9px;
}

.ribbonMessage {
	position:absolute;
	display:inline;
	color:red;
	text-align:center;
}

/*image stuff */
img {height:100%;}

/* favorites */
table {
  border: 1px solid black;
  table-layout: fixed;
  width:100%;
}
td {
  overflow: hidden;
  text-align:center;
  height:250px;
  padding-bottom:15px;
  padding-left: 10px;
  padding-right: 10px;
}

td img {
  height:100%;
  cursor: pointer;
}

#image {
  height: 450px;
}

.overlay {
  position: fixed; 
  width: 100%; 
  height: 100%; 
  top: 0px; 
  left: 0px; 
  background-color: #000;
  opacity: 0.7;
  filter: alpha(opacity = 70) !important;
  display: none;
  z-index: 100;
}

.overlay.loader {
  position: absolute;
  height: 100%;
  opacity: 0.3;
}

.overlay.loader img {
  height: 50px;
  margin-top: 200px;} //very hackish, but it works damnit

.showImage {
  position: relative;
  align: center;
  height: 450px;
}

#overlayContent{
    position: fixed; 
    width: 100%;
    top: 100px;
    text-align: center;
    display: none;
    overflow: hidden;
    z-index: 100;
}


#imgBig {
    cursor: pointer;
    height: 450px; 
}

#voteButton {
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 3px;
  margin-right: 10px;
  margin-left: 10px;
}



button {
  background: #242424;
  box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
  color: #feffff;
  text-shadow: 0px 1px 0px rgba(0,0,0, .5);
  font-size: .875em;
  font-weight: bold;
  text-decoration: none;
  border: none;
}



.page {
  display: inline-block;
  padding: 0px 15px;
  margin-right: 1px;

  background: #e9e9e9;
  box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
  font-size: .875em;
  font-weight: bold;
  text-decoration: none;
  color: #717171;
  text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.page:hover, .page.gradient:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.page.active {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}


.pagination.dark {
    background: #000;
    color: #feffff;
    float: right;
    margin-right: 30px;
}

.page.dark {
    background: #242424;
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
    color: #feffff;
    text-shadow: 0px 1px 0px rgba(0,0,0, .5);
}

.page.dark:hover, .page.dark.gradient:hover {
    background: #3d4f5d;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
    background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);
}

.page.dark.active {
    border: none;
    background: #2f3237;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .1);
}