// Place all the styles related to the gifEntries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
  background-color: #000
}


/*ribbon*/

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #000;
  text-decoration: none;
}

.ribbonName {
	display:inline;
	color:yellow;
}

.ribbonText {
	padding-top: 9px;
}

.ribbonMessage {
	position:absolute;
	display:inline;
	color:red;
	text-align:center;
}

/*image stuff */
img {height:450px}

/* favorites */
table {
  border: 1px solid black;
  table-layout: fixed;
  width:100%;
}
td {
  overflow: hidden;
  text-align:center;
  height:250px;
  padding-bottom:15px;
  padding-left: 10px;
  padding-right: 10px;
}

td img {
  height:100%;
}